---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 01 Mar 2020 19:41:02 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 220ms
      X-Forecast-Api-Calls:
      - '11'
      X-Response-Time:
      - 117.351ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583091663,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":1,"nearestStormBearing":194,"precipIntensity":0,"precipProbability":0,"temperature":40.1,"apparentTemperature":35.34,"dewPoint":25.81,"humidity":0.56,"pressure":1009,"windSpeed":6.87,"windGust":11.44,"windBearing":349,"cloudCover":0.55,"uvIndex":4,"visibility":10,"ozone":339.1},"minutely":{"summary":"Drizzle
        starting in 55 min.","icon":"rain","data":[{"time":1583091660,"precipIntensity":0,"precipProbability":0},{"time":1583091720,"precipIntensity":0,"precipProbability":0},{"time":1583091780,"precipIntensity":0,"precipProbability":0},{"time":1583091840,"precipIntensity":0,"precipProbability":0},{"time":1583091900,"precipIntensity":0,"precipProbability":0},{"time":1583091960,"precipIntensity":0,"precipProbability":0},{"time":1583092020,"precipIntensity":0,"precipProbability":0},{"time":1583092080,"precipIntensity":0,"precipProbability":0},{"t[...]
