---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 03 Mar 2020 21:43:54 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 966ms
      X-Forecast-Api-Calls:
      - '23'
      X-Response-Time:
      - 66.189ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583271834,"summary":"Clear","icon":"clear-day","nearestStormDistance":44,"nearestStormBearing":319,"precipIntensity":0,"precipProbability":0,"temperature":59.44,"apparentTemperature":59.44,"dewPoint":18.29,"humidity":0.2,"pressure":1008.9,"windSpeed":9.45,"windGust":18.85,"windBearing":284,"cloudCover":0.05,"uvIndex":3,"visibility":10,"ozone":333.2},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1583271780,"precipIntensity":0,"precipProbability":0},{"time":1583271840,"precipIntensity":0,"precipProbability":0},{"time":1583271900,"precipIntensity":0,"precipProbability":0},{"time":1583271960,"precipIntensity":0,"precipProbability":0},{"time":1583272020,"precipIntensity":0,"precipProbability":0},{"time":1583272080,"precipIntensity":0,"precipProbability":0},{"time":1583272140,"precipIntensity":0,"precipProbability":0},{"time":1583272200,"precipIntensity":0,"precipProbability":0},{"t[...]
